version: '3.3'
services:
    db:
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - db_data:/var/lib/mysql
        restart: always
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_USER_PASSWORD}
        networks:
            - default_lph
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
        links:
            - db
        depends_on:
            - db
        networks:
            - default_lph
    web:
        build: .
        restart: always
        volumes:
            - ./htdocs:/var/www
            - ./ssl:/etc/apache2/ssl
            - ./sites-available:/etc/apache2/sites-available
        links:
            - db
        networks:
            - default_lph
    reverse-proxy:
        image: nginx
        ports:
            - 80:80
            - 443:443
        restart: always
        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/http_server_name.js:/etc/nginx/http_server_name.js
        links:
            - web
            - phpmyadmin
        depends_on:
            - web
            - phpmyadmin
        networks:
            - default_lph
volumes:
    db_data:
    nginx_data:

networks:
    default_lph:
        driver: bridge